		a {
			color: #d5d5d9;
			text-decoration: none;
		}

		#top-bar {
			min-width: 960px;
			background-color: #6facd0;
			height: 60px;
			color: #d5d5d9
		}

		#system-logo .logo {
			width: 81px;
			margin-right: 0;
			padding-right: 0;
			float: left;
			padding-left: 20px
		}

		#system-logo {
			height: 100%;
		}

		#system-logo span {
			color: #fbfaff;
			font-size: 30px;
			display: inline-block;
			padding-top: 9px;
			font-family: 'TSSunOldbbad4b92919972';
		}

		.exit,
		.setting {
			float: left;
			width: 39px;
			margin-top: 30px;
			padding: 2px 3px;
			margin-right: 10px;
			color: #717169
		}

		#MutiNav .multiUl LI {
			font-size: 13px;
		}

		.nav-left {
			width: 15%;
			height: 100%;
			float: left;
		}

		.slogo {
			float: left;
			height: 100%;
			text-align: center
		}

		.slogo img {
			width: 70px;
			margin-top: -15px
		}

		.nav-center {
			width: 70%;
			float: left;
			height: 100%;
		}

		.navCen {
			width: 60%;
			float: left;
			margin-top: 23px;
			margin-left:120px;
			font-size: 14px;
			color: white
		}

		.bar {
			font-size: 10px;
			float: left;
			width: 17%;
			height: 100%;
		}
		
		.bar:hover{cursor: pointer}

		#bar-left {
			float: right;
			width: 60%;
			height: 100%
		}

		.userWel{float: left;padding-top: 30px;}